

 .nav-bg, .footer{
  background-color: rgb(192, 61, 9)
}

.display-4{
  padding: 100px 0px 30px 0px;
  font-family: 'BioRhyme', serif;
  background: rgba(255, 255, 255, 0.301);
}

.search-div{
  background: rgba(255, 255, 255, 0.301);
}

.form-control{
  background: rgba(255, 255, 255, 0.15);
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control:focus {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.30);
}


#advanced-btn{
    font-size: 30px;
}

.search-container{
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
}

a:link{
  text-decoration: none;
}

.card-content{
  color: black;
}


.card-content:hover{
  color: grey;
}

a:hover {
  text-decoration: none;
  color: grey;
}
#map {
  height: 500px;
}
